@font-face {
	font-family: 'Durant-Regular';
	src: url('fonts/DurantRegular.eot');
}

@font-face {
	font-family: 'Durant-Regular';
	src: url('fonts/DurantRegular.woff') format('woff'),
	url('fonts/DurantRegular.svg#Durant-Regular') format('svg');
}

@font-face {
	font-family: 'Durant-Italic';
	src: url('DurantItalic.eot');
}

@font-face {
	font-family: 'Durant-Italic';
	src: url('DurantItalic.woff') format('woff'),
	url('DurantItalic.svg#Durant-Italic') format('svg');
}


#campanhaDesc{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#tudocamp{
	position:absolute;
	z-index:100;
	width:100%;
}

a.bthome{
	display:block;
	width:154px;
	height:38px;
	background:url(images/home.jpg) 0 0 no-repeat;
	text-decoration:none;
}
a:hover.bthome{
	background:url(images/home-over.jpg) no-repeat;
}

a.btregulamento{
	display:block;
	width:154px;
	height:38px;
	background:url(images/regulamento.jpg) no-repeat;
	text-decoration:none;
}
a:hover.btregulamento{
	background:url(images/regulamento-over.jpg) no-repeat;
}

a.btranking{
	display:block;
	width:154px;
	height:38px;
	background:url(images/ranking.jpg) no-repeat;
	text-decoration:none;
}
a:hover.btranking{
	background:url(images/ranking-over.jpg) no-repeat;
}

a.btpremiacao{
	display:block;
	width:154px;
	height:38px;
	background:url(images/premiacao.jpg) no-repeat;
	text-decoration:none;
}
a:hover.btpremiacao{
	background:url(images/premiacao-over.jpg) no-repeat;
}

.textocamp{
	padding-top:38px;
	width:900px;
	color:#fdedbd;
	font-family: "Durant-Regular", serif;
	font-size:15px;
}

.titulo{
	font-family: "Durant-Italic", serif;
	font-size:22px;
}

.tamtextocamp{
	width:600px;
}