@font-face {
	font-family: 'Durant-Regular';
	src: url('fonts/DurantRegular.eot');
}

@font-face {
	font-family: 'Durant-Regular';
	src: url('fonts/DurantRegular.woff') format('woff'),
	url('fonts/DurantRegular.svg#Durant-Regular') format('svg');
}



a.bthome{
	display:block;
	width:102px;
	height:46px;
	background:url(images/home.jpg) 0 0 no-repeat;
	text-decoration:none;
}
a:hover.bthome{
	background:url(images/home-over.jpg) no-repeat;
}

a.btregulamento{
	display:block;
	width:100px;
	height:46px;
	background:url(images/regulamentos.jpg) no-repeat;
	text-decoration:none;
}
a:hover.btregulamento{
	background:url(images/regulamentos-over.jpg) no-repeat;
}

a.btpremiacao{
	display:block;
	width:93px;
	height:46px;
	background:url(images/premiacao.jpg) no-repeat;
	text-decoration:none;
}
a:hover.btpremiacao{
	background:url(images/premiacao-over.jpg) no-repeat;
}

#contDescubra{
	margin-left:527px;
	margin-top:51px;
	width:365px;
	height:165px;
	font-family: "Louis-Regular", serif;
	/*font-style:italic;*/
	font-size:17px;
	color:#464A48;
}

#contDescubraRegulamentoo{
	margin-left:451px;
	margin-top:0px;
	width:502px;
	height:216px;
	font-family: "Louis-Regular", serif;
	/*font-style:italic;*/
	font-size:15px;
	color:#464A48;
}
